/* shared style  */
body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 10px 20px;
}


/* nav style staring */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* nav style ending */

/* header section starting */
.header-section {
    background-color: #FFF8F3;
    background-image: url("images/header_bg.png") , 
    url("images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner {
    padding: 30px 30px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    margin: 50px 0px;
    max-width: 500px;
}

.banner .profile-picture {
    width: 400px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin: 0px;
}

.banner-title {
    font-size: 80px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0px;
}

.banner-description {
    margin: 10px 0px;
}

/* header ending */
/* main section starting */
main {
    max-width: 1140px;
    margin: 0px auto;
}

main {
    margin: 0px auto;
}

/* main section ending */
/* about section starting */

.about {
    padding: 140px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 100px 0px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin: 10px 0px;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    margin: 40px 0px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    margin: 60px 0px;
}

.about-info {
    text-align: center;
}

.info-title {
    margin: 0px;
    font-weight: normal;
}

.info-description {
    margin: 7px;
    font-weight: bold;
}

/* about ending */
/* skills related style */
#what-i-do-description {
    padding: 21px 42px;
}

.skills-container {
    display: flex;
    gap: 30px;
}

.skill {
    padding: 25px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: #757575;
}

/* about section ending */
/* Resume Section Style  */

.resume-starting {
    margin: 100px auto;
}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    margin: 50px auto;
    display: flex;
    gap: 50px;
}

.resume-item-title {
    color: #474747;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-institute {
    margin-bottom: 20px;
    margin-top: 0px;
}

.resume-item-institute,
.resume-item-description {
    color: #757575;
}

.resume-container hr {
    margin: 30px 0px;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* footer section starting */
footer {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px;
}

.footer-column {
    width: 50%;
}

.sec-title {
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
}
.social-links a {
    margin-right: 25px;
}

.contact input[type="text"],
.contact input[type="email"],
textarea {
    width: 80%;
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
}