/* shared style  */
/* * {
    margin: 0;
    padding: 0;
} */

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 10px 20px;
}


/* nav style staring */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* nav style ending */

/* header section starting */
.header-section {
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner .profile-picture {
    width: 400px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin: 0px;
}

.banner-title {
    font-size: 80px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0px;
}

.banner-description {
    margin: 10px 0px;
}

/* header ending */
/* main section starting */
main{
    max-width: 1140px;
    margin: 0px auto;
}
/* main section ending */
/* about section starting */

.about {
    padding: 140px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 100px 0px;
}
.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin: 10px 0px;
}
.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    margin: 29px 0px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    margin: 60px 0px;
}
.about-info{
    text-align: center;
}
.info-title{
    margin: 0px;
    font-weight: normal;
}
.info-description{
    margin: 7px;
    font-weight: bold;
}
#what-i-do-description{
    padding: 29px 302px;
    margin: 0px;
}
   

/* about section ending */